<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297069337891-eidb9tsi4gh8eufg8ns26q4nbhc4irb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297069337891-eidb9tsi4gh8eufg8ns26q4nbhc4irb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297069337891-8n14e2m61tgqo7f0rnssiuo38tcjjlh9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ2lxUtVMSvBb_cMrjR73iRV3rxBP542k</string>
	<key>GCM_SENDER_ID</key>
	<string>297069337891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noctuagames.ios.sdktest</string>
	<key>PROJECT_ID</key>
	<string>noctua-sdk-test</string>
	<key>STORAGE_BUCKET</key>
	<string>noctua-sdk-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297069337891:ios:58619f462424c7b2b50096</string>
</dict>
</plist>