<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.noctuagames.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.noctuagames.sdk.permission.ACCESS_ACCOUNT_PROVIDER"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.noctuagames.sdk.permission.ACCESS_ACCOUNT_PROVIDER" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application android:gwpAsanMode="always">
        <provider
            android:name=".AccountContentProvider"
            android:authorities="${applicationId}.noctuaaccountprovider"
            android:exported="true"
            android:permission="com.noctuagames.sdk.permission.ACCESS_ACCOUNT_PROVIDER"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>