<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="
        com.android.billingclient.ktx,
        com.android.billingclient,
        com.google.firebase,
        com.google.firebase.remoteconfig,
        com.google.firebase.crashlytics.ndk,
        com.google.firebase.crashlytics,
        com.google.firebase.analytics,
        com.google.firebase.messaging,
        com.google.firebase.common,
        com.google.firebase.components,
        com.google.firebase.datatransport,
        com.google.firebase.encoders,
        com.google.firebase.encoders.json,
        com.google.firebase.encoders.proto,
        com.google.firebase.installations,
        com.google.firebase.installations.interop,
        com.google.firebase.iid,
        com.google.firebase.iid.interop,
        com.google.firebase.abt,
        com.google.firebase.sessions,
        com.google.firebase.annotations,
        com.google.firebase.measurement.connector,
        com.google.firebase.config.interop,
        com.google.android.gms.measurement,
        com.google.android.gms.measurement.api,
        com.google.android.gms.measurement.sdk,
        com.google.android.gms.measurement.sdk.api,
        com.google.android.gms.measurement.impl,
        com.google.android.gms.measurement.base,
        com.google.android.datatransport.transportruntime,
        com.google.android.datatransport.transportbackendcct,
        com.google.android.datatransport.transportapi,
        com.google.android.gms.common,
        com.google.android.gms.base,
        com.google.android.gms.basement,
        com.google.android.gms.tasks,
        com.google.android.gms.stats,
        com.google.android.gms.ads.identifier,
        com.google.android.gms.cloudmessaging,
        com.google.android.gms.appset,
        com.google.android.gms.location,
        com.google.android.gms.places.placereport,
        com.facebook.core,
        com.facebook.bolts,
        com.adjust.sdk,
        com.adjust.sdk.huawei.referrer,
        com.adjust.signature
    " />

</manifest>
